body {
  margin: 0;
  overflow: hidden;
  background-color: skyblue; /* Set background color to sky blue */
  position: relative;
}

#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  background-color: white;
}

#crosshair::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 30px;
  background-color: white;
}

#hotbar {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
.hotbar-slot {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background-color: #333;
  border: 2px solid #555;
  cursor: pointer;
}
.active-slot {
  border-color: #fff;
}

#fps {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Arial, sans-serif;
  width: 65px;
  height: 20px;
}

#cords {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Arial, sans-serif;
  width: 95px;
  height: 50px;
}

.cords {
  margin: 0px;
  padding: 0px;
}

#chat {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 600px;
  width: 500px;
  visibility: hidden;
}

#input {
  position: absolute;
  border: none;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.45);
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  top: 97.5%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 400px;
  color: white;
}

#message {
  position: absolute;
  padding: 0px;
  margin: 0px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

#online {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 300px;
  width: 500px;
  visibility: hidden;
}
